/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16. 10. 2022, 23:19:51
    Author     : Hajime
*/

root { 
    display: block;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #b6000d;
}

#telo{
    text-align: left;
    background-color: white;
    width: 60%;
    margin-left: 20%;
}

#header{
    width: 100%;
}

#rest:hover{
    display: inline-block;
    background-color: white;
    color: #b6000d;
    margin-left: 20px;
    width: 100px;
    text-align: center;
    border-radius: 2em;
    height: 30px;
    padding-top: 5px;
}

#rest {
    display: inline-block;
    background-color: #b6000d;
    color: white;
    border: 2px solid #b6000d;
    text-align: center;
    width: 100px;
    margin-left: 20px;
    border-radius: 2em;
    height: 30px;
    padding-top: 5px;
}
#logo {
    margin-left: 10%;
    position: relative;
    display: inline-block;
}

a{
    text-decoration: none;
}

#menu{
    float: right;
    margin-right: 10%;
}

nav {
    margin-top: 42px;

    padding-right: 20px;
}

article{
    width: 80%;
    margin-left: 10%;
    padding: 0px;
    padding-bottom: 50px
}

#ceny{
    padding-bottom: 50px
}
#table{
    width: 100%;
    border: 2px #b6000d solid;
    padding: 0px;
    border-collapse: collapse;
}
#table2{
    width: 100%;
    margin-top: 50px;
    border: 2px #b6000d solid;
    padding: 0px;
    border-collapse: collapse;
}
#th{
    background-color: #b6000d;
    color: white;
    text-align: left;
    
}

td{
    height: 20px;
}

h1{
    color: #b6000d;
    text-align: center;
}

.cena{
    text-align: left;
    width: 50px;
}
#kontakty{
    margin-top: 150px;
}
.udaje{
    width: 30%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    background-color: #b6000d;
    color: white;
}
tr:hover{
    border: 1px #b6000d solid; 
}

#sluzby{
    text-align: center;
}

#ceny{
    margin-top: 150px;
}
#sluzby{
    margin-top: 150px;
}

.slz{
    width: 22.5%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    background-color: #b6000d;
    color: white;
}